

#wrapper{
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section{
  width: 800px;
  margin: 0 10px 0 10px;
  padding: 20px;
  background-color: white;
  border-bottom: 3px solid #dedede;
  margin: auto;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.centerInfo{
  text-align: center;
}
.Introduction h1, h2{
  margin: 0 !important;
}
.headingHighlight{
  color: #B73239;
}
.info{
  background: #ececec;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

a {
  color: #B73239;
}

.barChartWrapper{
  margin-left: -50px;
}

.citation{
  font-size: 12px;
}
.resources ul{
  list-style-type: square;
}
.resources ol {
  list-style-type: upper-roman;
  padding: 0px;
}
.resources ol li{
  list-style-type: upper-roman;
  padding: 5px;
}
.resources ul {
  padding: 10px;
  list-style: none;
  background: #f2f2f2;
  border-radius: 10px;
}
.resources ul li {
  display: inline;
 
}
.resources ul li a {
  display: block;
  padding: 20px 10px;
  color: #333;
  text-decoration: none;
}
.resources ul li a:hover {
  color: #fff;
  background: #939393;
}