body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

svg{
  margin-top: 5px;
  /*border: 1px solid #ccc;*/
}

text{
  font-weight: 300;
}

.tile:hover{
  fill: "#dedede";
}

body {
  background-color: lightblue;
}